In [108]:
from sqlalchemy import create_engine
import pandas as pd
import datetime
import numpy as np

In [48]:
DATABASE_URI = 'mssql+pyodbc://sa:123456@localhost:1433/DW_Bicycle?driver=ODBC+Driver+17+for+SQL+Server'

engine = create_engine(DATABASE_URI)

In [50]:
connection = engine.connect()

In [65]:
product = pd.read_sql("SELECT * FROM dim.products", connection)

In [66]:
product

,product_id,product_name,model_year,category_id,supplier_id,category_name,supplier_name
0,2,Ritchey Timberwolf Frameset - 2016,2016,6,5,"""Mountain Bikes""","""Ritchey"""
1,3,Surly Wednesday Frameset - 2016,2016,6,8,"""Mountain Bikes""","""Surly"""
2,4,Trek Fuel EX 8 29 - 2016,2016,6,9,"""Mountain Bikes""","""Trek"""
3,5,Heller Shagamaw Frame - 2016,2016,6,3,"""Mountain Bikes""","""Heller"""
4,6,Surly Ice Cream Truck Frameset - 2016,2016,6,8,"""Mountain Bikes""","""Surly"""
...,...,...,...,...,...,...,...
302,311,Electra Townie Commute 8D - 2018,2018,2,1,"""Comfort Bicycles""","""Electra"""
303,312,Electra Townie Commute 8D Ladies - 2018,2018,2,1,"""Comfort Bicycles""","""Electra"""
304,313,Electra Townie Original 1 Ladies - 2018,2018,2,1,"""Comfort Bicycles""","""Electra"""
305,314,Electra Townie Original 21D EQ Ladies - 2018,2018,2,1,"""Comfort Bicycles""","""Electra"""
306,315,Electra Townie Original 21D Ladies - 2018,2018,2,1,"""Comfort Bicycles""","""Electra"""

In [124]:
product.isna().sum() / product.count()

product_id       0.0
product_name     0.0
model_year       0.0
category_id      0.0
supplier_id      0.0
category_name    0.0
supplier_name    0.0
dtype: float64

In [125]:
product.dtypes

product_id        int64
product_name     object
model_year        int64
category_id       int64
supplier_id       int64
category_name    object
supplier_name    object
dtype: object

In [128]:
product.duplicated().sum()

0

In [93]:
sales = pd.read_sql("SELECT * FROM fact.sales", connection)

In [94]:
sales

,order_id,item_id,product_id,customer_id,store_id,staff_id,order_date,required_date,shipped_date,quantity,list_price,discount,inventory_quantity
0,1,1,20,259,1,2,2016-01-01,2016-01-03,2016-01-03,1,599.99,0.20,26
1,1,2,8,259,1,2,2016-01-01,2016-01-03,2016-01-03,2,1799.99,0.07,0
2,1,3,10,259,3,2,2016-01-01,2016-01-03,2016-01-03,2,1549.00,0.05,21
3,1,4,16,259,3,2,2016-01-01,2016-01-03,2016-01-03,2,599.99,0.05,19
4,1,5,4,259,2,2,2016-01-01,2016-01-03,2016-01-03,1,2899.99,0.20,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4715,1614,2,159,135,1,8,2018-11-28,2018-11-28,1900-01-01,2,2299.99,0.07,18
4716,1614,3,213,135,3,8,2018-11-28,2018-11-28,1900-01-01,2,269.99,0.20,10
4717,1615,1,197,136,2,8,2018-12-28,2018-12-28,1900-01-01,2,2299.99,0.20,10
4718,1615,2,214,136,1,8,2018-12-28,2018-12-28,1900-01-01,1,899.99,0.07,4
4719,1615,3,182,136,2,8,2018-12-28,2018-12-28,1900-01-01,1,2499.99,0.20,21

In [102]:
sales.dtypes

order_id                int64
item_id                 int64
product_id              int64
customer_id             int64
store_id                int64
staff_id                int64
order_date             object
required_date          object
shipped_date           object
quantity                int64
list_price            float64
discount              float64
inventory_quantity      int64
dtype: object

In [87]:
sales['shipped_date'].value_counts()

1900-01-01    506
2017-10-29     32
2017-06-27     22
2017-11-11     20
2018-03-23     20
             ...
2016-03-28      1
2018-01-31      1
2018-02-12      1
2016-04-04      1
2017-04-21      1
Name: shipped_date, Length: 676, dtype: int64

In [114]:
sales.loc[sales['shipped_date'] == datetime.date(1900, 1, 1), 'shipped_date'] = np.nan

In [119]:
sales.isna().sum() / sales.count()

order_id              0.000000
item_id               0.000000
product_id            0.000000
customer_id           0.000000
store_id              0.000000
staff_id              0.000000
order_date            0.000000
required_date         0.000000
shipped_date          0.120076
quantity              0.000000
list_price            0.000000
discount              0.000000
inventory_quantity    0.000000
dtype: float64

In [133]:
sales.dropna(axis=1, inplace=True)

In [122]:
sales.duplicated().sum()

0

In [134]:
sales_product = sales.merge(product, on='product_id', how='inner')

In [135]:
sales_product

,order_id,item_id,product_id,customer_id,store_id,staff_id,order_date,required_date,quantity,list_price,discount,inventory_quantity,product_name,model_year,category_id,supplier_id,category_name,supplier_name
0,1,1,20,259,1,2,2016-01-01,2016-01-03,1,599.99,0.20,26,Electra Townie Original 7D EQ - Womens - 2016,2016,3,1,"""Cruisers Bicycles""","""Electra"""
1,2,1,20,1212,2,6,2016-01-01,2016-01-04,1,599.99,0.07,20,Electra Townie Original 7D EQ - Womens - 2016,2016,3,1,"""Cruisers Bicycles""","""Electra"""
2,3,2,20,523,2,7,2016-01-02,2016-01-05,1,599.99,0.05,20,Electra Townie Original 7D EQ - Womens - 2016,2016,3,1,"""Cruisers Bicycles""","""Electra"""
3,6,3,20,94,2,6,2016-01-04,2016-01-07,1,599.99,0.10,20,Electra Townie Original 7D EQ - Womens - 2016,2016,3,1,"""Cruisers Bicycles""","""Electra"""
4,8,2,20,1204,1,7,2016-01-04,2016-01-05,2,599.99,0.07,26,Electra Townie Original 7D EQ - Womens - 2016,2016,3,1,"""Cruisers Bicycles""","""Electra"""
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4715,1571,1,312,80,1,7,2018-04-22,2018-04-22,2,699.99,0.10,23,Electra Townie Commute 8D Ladies - 2018,2018,2,1,"""Comfort Bicycles""","""Electra"""
4716,1571,2,212,80,3,7,2018-04-22,2018-04-22,1,559.99,0.07,23,Electra Townie Original 21D - 2018,2018,3,1,"""Cruisers Bicycles""","""Electra"""
4717,1592,1,211,6,3,7,2018-04-27,2018-04-27,2,1549.00,0.05,3,Surly Straggler 650b - 2018,2018,4,8,"""Cyclocross Bicycles""","""Surly"""
4718,1597,1,176,56,1,9,2018-04-28,2018-04-28,1,3199.99,0.07,11,Trek Madone 9 Frameset - 2018,2018,7,9,"""Road Bikes""","""Trek"""
4719,1612,2,289,3,1,3,2018-10-21,2018-10-21,2,319.99,0.05,2,Electra Superbolt 1 20 - 2018,2018,1,1,"""Children Bicycles""","""Electra"""

In [139]:
sales_product_analysis = sales_product.drop(['customer_id','staff_id'],axis=1)

In [142]:
sales_product_analysis.to_csv('sales_product.csv')

In [151]:
daily_Sales = sales_product.groupby('order_date')['list_price'].sum().asfreq('D')

In [156]:
daily_Sales.replace(np.nan,0)

order_date
2016-01-01    8648.94
2016-01-02    1599.98
2016-01-03    3327.98
2016-01-04    8427.92
2016-01-05    6939.95
               ...
2018-12-24       0.00
2018-12-25       0.00
2018-12-26       0.00
2018-12-27       0.00
2018-12-28    5699.97
Freq: D, Name: list_price, Length: 1093, dtype: float64

In [157]:
daily_Sales.to_csv('dialy_Sales.csv')